<% include ./partials/header %>

<div class="container input-container d-flex align-items-center">
    <div class="input-group input-group-lg">
        <div class="input-img">
            <img src="http://siliconvalleyism.com/characters/erlich-small.jpg" alt="" class="rounded-circle" width="50px">
        </div>
        <input type="text" id="tweet-input" class="form-control" aria-label="Large" placeholder="Quoi de neuf ?">
    </div>
</div>


<div id="tweet-container" class="container main-container">
</div>

<% include ./partials/footer %>