<div class="tweet-container d-flex">
    <div class="tweet-img">
        <img src="http://siliconvalleyism.com/characters/erlich-small.jpg" alt="" class="rounded-circle" width="50px">
    </div>

    <div class="tweet-right">
        <div class="tweet-presentation d-flex">
            <div class="tweet-name">
                Erlich Bachman
            </div>
            <div class="tweet-pseudo">
                @Bachmanity
            </div>
            <div class="tweet-date" data-content="date"></div>
        </div>

        <div class="tweet-text" data-content="message"></div>
    </div>
</div>